@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

:root{ /*Atribundo variáveis*/
    --font-primary: "Poppins", serif; /*Fonte Primária*/
    --font-secondary: "Montserrat", serif; /*Fonte Secundária*/
    --color-primary: #EEEEEE;
    --color-secondary: #EA8208;
}  

*{
    margin: 0; /*Tirando Margem*/
    padding: 0; /*Tirando Padding*/
    border: none; /*Tiramos borda*/
    outline: none; /*E outline*/
    list-style: none; /*Tiramos estilo das listas*/
    text-decoration: none; /*Tirando text-decoration do link*/
    font-family: var(--font-primary); /*Definindo font-family*/
}

html, body{
    overflow-x: hidden; /*Tirando overflow*/
    box-sizing: border-box; /*Adicionando o padding e a border no tamanho total do elemento*/
}

h1, h3{
    font-family:"Poppins", serif;
}

p{
    font-family:"Montserrat", serif;
}

.header-site{
    display: flex; /*Definindo como flex - Unidimensional*/
    flex-direction: row; /*Itens mostrados na horizontal (linha)*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4vh 0;
    height: 3vw;
    background-color: #EEEEEE;
    justify-content: space-between; /*Alinha no eixo principal*/
    align-items: center;

}

nav{
    margin: 2vw;
 
}

.logo-header{
    margin-left: 2%;
    height: auto;
    width: 12vw;

}

.final-footer{
    /*Cor do fundo*/
    background-color: #193195;

    /*Posicionamento*/
    display: flex; /*Definindo como flex - Unidimensional*/
    flex-direction: row; /*Itens mostrados na horizontal (linha)*/
    position: relative;
    height: 2vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    /*Posicionamento*/
    text-align: center;
}

@media (min-width: px) {

    
}